/*
@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode Medium'), local('FiraCode-Medium'),
  url('./public/FiraCode-Medium.woff2') format('woff2'),
  url('./public/FiraCode-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode Light'), local('FiraCode-Light'),
  url('./public/FiraCode-Light.woff2') format('woff2'),
  url('./public/FiraCode-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode Bold'), local('FiraCode-Bold'),
  url('./public/FiraCode-Bold.woff2') format('woff2'),
  url('./public/FiraCode-Bold.woff') format('woff');
  font-weight: 700;
} */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@500;700&family=Poppins&display=swap');

:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-color: #41729f;
  --primary-color-light: #5885af;
  --primary-color-dark: #274472;

  --text-color: black;

  color: var(--text-color);
  background-color: var(--primary-color-dark);
  font-weight: bold;
  caret-color: transparent;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
